<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Rest authentication entry point configuration -->
	<http use-expressions="true" entry-point-ref="restAuthenticationEntryPoint">
		<intercept-url pattern="/v1/**" access="hasRole('ROLE_SUPER_ADMIN')" />
		<form-login authentication-success-handler-ref="restAuthenticationSuccessHandler" authentication-failure-handler-ref="simpleUrlAuthenticationFailureHandler" login-processing-url="/login" />
		<access-denied-handler ref="restAuthenticationAccessDeniedHandler" />
		<logout />
	</http>

	<!-- Connect the custom authentication success handler -->
	<beans:bean id="restAuthenticationSuccessHandler" class="com.ktab.vision.api.security.RestAuthenticationSuccessHandler" />

	<!-- Using default failure handler -->
	<beans:bean id="simpleUrlAuthenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler" />

	<beans:bean id="vLokalUserDetailsServices" class="com.ktab.vision.api.security.VisionUserDetailsServices">
		<beans:property name="userDao" ref="userDao" />
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="vLokalUserDetailsServices">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>
	<!-- Enable the annotations for defining the secure role -->
	<global-method-security secured-annotations="enabled" />

	<beans:bean id="restAuthenticationEntryPoint" class="com.ktab.vision.api.security.RestAuthenticationEntryPoint" />

	<beans:bean id="restAuthenticationAccessDeniedHandler" class="com.ktab.vision.api.security.RestAuthenticationAccessDeniedHandler" />

	<beans:bean id="userContext" class="com.ktab.vision.api.session.UserContext" scope="session" />

</beans:beans>