<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <!-- Mappings Start -->
  <mapping class="com.ktab.vision.api.dao.model.Partner"/>
  <mapping class="com.ktab.vision.api.dao.model.Team"/>
  <mapping class="com.ktab.vision.api.dao.model.User"/>
  <mapping class="com.ktab.vision.api.dao.model.Orders"/>
  <mapping class="com.ktab.vision.api.dao.model.Customer"/>
  <mapping class="com.ktab.vision.api.dao.model.OrderStatus"/>
  <mapping class="com.ktab.vision.api.dao.model.Role"/>
  <mapping class="com.ktab.vision.api.dao.model.OrderAudit"/>
  <mapping class="com.ktab.vision.api.dao.model.PartnerUser"/>
  <mapping class="com.ktab.vision.api.dao.model.OrderAddress"/>
  <mapping class="com.ktab.vision.api.dao.model.Address"/>
  <!-- Mappings End -->
 </session-factory>
</hibernate-configuration>
